{% extends 'default_layout.html.twig' %}

{% block contents %}
    <!--
    월드가 많이 생길 수 있으니, 검색해서 for문으로 반복해서 생성해준다.
    startup support 참조
    -->

    <div class="item_world_home">
        <a href={{ url('select_world_home')}}>
            <div class="item_world_title_text size24 bold">
            1번째 월드 홈
                </div>
        </a>
    </div>
    <div class="line"></div>
{% endblock %}
