<table>
        <tr>
                <td>
                        <div class="size18 bold white"><a href={{ url('world_index')}}>캠패인 룸으로</a></div>
                </td>
                <td>
                        <div class="size18 bold white"><a href={{ url('world_about_play')}}>관련 플레이</a></div>
                </td>
                <td>
                        <div class="size18 bold white"><a href={{ url('map_view')}}>지도</a></div>
                </td>
                <td>
                        <div class="size18 bold white"><a href={{ url('timeline_view')}}>연표</a></div>
                </td>
        </tr>
        <tr>
                <td>
                        <div id="navAll" ></div>
                </td>
                <td>
                        <div id="navPop" ></div>
                </td>
                <td>
                        <div id="navDue"></div>
                </td>
        </tr>
</table>