<div class="divider"></div>
<div class="clear-both"></div>
<div id="footer">
    <span></span>
    <a href=""><span>World Box</span></a>
    <div id="copyright">
        <span><b>Copyright ⓒ 2018 JokerForge All Rights Reserved.</b></span>
    </div>
</div>
